@font-face {
  font-family: "NotoSans";
  src: url("./assets/fonts/NotoSans-VariableFont_wdth\,wght.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "NotoSans";
}
.container {
  max-width: 1200px;
  height:auto;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
  overflow: hidden;
}
.extentionCards {
   max-width: 1200px;
   margin:0 auto;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr)); /* مهم‌ترین بخش */
  /* justify-content:center; */
   column-gap: 5px;  /* فاصله بین ستون‌ها */
  row-gap: 20px;     
  
}

.appLight {
   min-height: 100vh;
  background-color: #d0e8fa;
  color: #000;
  transition: all 0.3s ease;
}

.appDark {
  min-height: 100vh;
  background: #080b0c; 
  background: -webkit-linear-gradient(
    to bottom,
    #0a222d,
    #222d31,
    #0f2027
  ); 
  background: linear-gradient(
    to bottom,
    #121516,
    #1f2f35,
    #34515d
  ); 
  color: #fff;
  transition: all 0.3s ease;
}


@media (max-width: 992px) {
  .extentionCards{
    display:grid;
   grid-template-columns: repeat(2, minmax(0, 1fr)); 
  
  }
}
@media (max-width: 600px) {
  .extentionCards{
    display:grid;
     grid-template-columns: repeat(1, minmax(0, 1fr)); 
  }
}
